.kaste{
    width: 400px;
    height: 400px;
    background-color: aqua;
    border: 1px solid black;
    animation-name: test;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    animation-timing-function: linear;
}
@keyframes test {
0%{
    background-color: aqua;
    font-size: 16px;
    transform: rotate(0);
}
25%{
    background-color: azure;
    font-size:30px;
}
50%{
    background-color: green;
    font-size: 45px;
    
   
}
75%{
    background-color: red;
    font-size: 30px;

}

100%{
    background-color: aqua;
    font-size: 16px;
    transform: rotate(360deg);
    
}

}
.k{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
body{
    overflow: hidden;
}